CENTRAL_URL=https://CENTRAL_VM_IP:8443
CENTRAL_USERNAME=admin@odysseusinc.com
CENTRAL_PASSWORD=password
CENTRAL_CONTAINER=arachne-central

CENTRAL_DATANODE_NAME=Site 2 DataNode
DATANODE_URL=http://DATANODE_2_VM_IP:8080
DATANODE_USERNAME=admin
DATANODE_PASSWORD=ohdsi
DATANODE_DATASOURCE_ID=1
DATANODE_LOOKUP_MODE=api
POLL_INTERVAL_SECONDS=10
